{% extends 'main/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="post-detail-container">

    <h1 class="post-title">{{ post.title }}</h1>

    {% if post.cover %}
    <img src="{{ post.cover.url }}" alt="{{ post.title }}" class="post-cover">
    {% endif %}

    <p class="post-content">{{ post.content }}</p>

    <div class="post-actions">
        <a href="{% url 'main:update_post_view' post.id %}" class="btn btn-update">Update</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            delete
        </button>
    </div>

    <div class="post-meta">
        {% if post.is_published %}
        Published: {{ post.published_at }}
        {% else %}
        <span class="draft">Draft</span>
        {% endif %}
    </div>

</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ post.title }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'main:delete_post_view' post.id %}" class="btn btn-delete">Delete</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}