{% extends 'main/base.html' %}

{% block title %}Update Post{% endblock %}

{% block content %}

<h1>Update {{post.title}}</h1>

<div class="row">
    <div class="col-5">
        <form action="{% url 'main:update_post_view' post.id%}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <input type="text" placeholder="Title" name="title" value="{{post.title}}" />

            <textarea placeholder="Content" name="content">{{post.content}}</textarea>

            <label>
                <input type="checkbox" name="is_published" checked>
                Published
            </label>

            <input type="datetime-local" name="published_at" value="{{post.published_at.isoformat}}">

            <img src="{{post.cover.url}}">
            <input type="file" name="cover">

            <input type="submit" value="Update Post">

        </form>
    </div>
</div>

{% endblock %}